body{
    background: skyblue;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.anim1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: brown;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
}
.anim1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: brown;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
}
.anim1{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: brown;
    color: white;
     display: flex;
    align-items: center;
    justify-content: center;
}